# Build output folders
[Bb]in/
[Oo]bj/

# IDE-specific folders and files
.vs/
.vscode/
*.csproj.user
*.sln.DotSettings.user

# Other temporary files
*.db
*.db-shm
*.db-wal
*.vsidx
*.sqlite

/Thunderstore/build*
