/libs
/bin
/obj
/.idea
.vs/CustomPosters/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/CustomPosters/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/CustomPosters/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/CustomPosters/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/CustomPosters/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/CustomPosters/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/CustomPosters/FileContentIndex/9268cb61-3488-4b1d-9aad-8827da316213.vsidx
.vs/slnx.sqlite
.vs/CustomPosters/FileContentIndex/d7fab32b-218a-4afc-8bbb-c35210df6856.vsidx
.vs/CustomPosters/FileContentIndex/5f410abf-5148-4385-8fad-a8ce92d498ea.vsidx
.vs/CustomPosters/FileContentIndex/1414f656-7e12-4a8e-a708-cac1557ffb7c.vsidx
